<button id="myBtn" class="v12-popup"> 
    <img src='<?php echo $this->getViewFileUrl('images/calculator-blue.png'); ?>' alt="V12Calculator" />
    <p><strong>Finance Calculator</strong></br>Enjoy 0% interest with monthly instalment plans from £3000.00/month</p>
    <img src='<?php echo $this->getViewFileUrl('images/v12logo.png'); ?>' alt="V12Logo" />
</button>   
<div id="myModal" class="modal">
    <div class="v12-pop-up-content">
        <div class="v12-pop-up-content-left">
            <h2><strong>Availible Finance Options</strong></h2>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in </p>
            <p><strong>Deposit Payment</strong></p>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000</p>
            <div class="deposit">
                <button>−</button>
                <input type="number" value="0"/>
                <button>+</button>
            </div>
            <p><strong>Repayment Condition</strong></p>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000</p>
            </br>
            <p>
                <label>
                    <select>
                        <option>Interest Free Finance (3 months)</option>
                        <option>Interest Free Finance (6 months)</option>
                        <option>Interest Free Finance (9 months)</option>
                        <option>Interest Free Finance (12 months)</option>
                    </select>
                </label>
            </p>
            </br>
            <p>£9000.00 per month</p>
            <img src='<?php echo $this->getViewFileUrl('images/v12logo.png'); ?>' alt="V12Logo" />
        </div>
        <div class="v12-pop-up-content-right">
            <p><strong>Finance Summary</strong></p>
            <table>
                <tr>
                    <td><strong>Deposit Payment</strong></td>
                    <td>£3000.00</td>
                </tr>
                <tr>
                    <td><strong>Finance Amount</strong></td>
                    <td>£27000.00</td>
                </tr>
                <tr>
                    <td><strong>Repayment Term</strong></td>
                    <td>3 months</td>
                </tr>
                <tr>
                    <td><strong>Interest Charge</strong></td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td><strong>Instalment Amount</strong></td>
                    <td>£9000.00</td>
                </tr>
                <tr>
                    <td><strong>Annual Rate of Interest</strong></td>
                    <td>0.00%</td>
                </tr>
                <tr>
                    <td><strong>Total Amount Payable</strong></td>
                    <td>£30000.00</td>
                </tr>
                <tr>
                    <td><strong>Total Amount Payable Now</strong></td>
                    <td>£3000.00</td>
                </tr>
            </table>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in </p>
            <button>Add Finance</button>
        </div>
        <span class="close"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg></span>
    </div>
</div>

    
