 
.v12-popup
{
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid deepskyblue;
    padding: 20px 25px;
    text-align: unset;

    img
    {
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.modal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.v12-pop-up-content
{
    display: flex;
    background-color: #fff;
    margin: auto;
    padding: 35px;
    width: 65%;
}

.v12-pop-up-content-left
{
    padding: 30px;
    width: 50%;
}

.v12-pop-up-content-right
{
    background: #f4f4f4;
    width: 50%;
    margin: 20px 0px 20px 20px;
    padding: 40px;

    button
    {
        background: #0550b3;
        color: #fff;
        border: none;
        margin-top: 20px;
    }
}

span
{
    height: 20px;

    svg
    {
        width: 15px;
        margin-left: 15px;
        margin-top: -10px;
    }
}

// Deposit
.deposit
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

    button
    {
        
        background: transparent;
        margin-top: 0px;
        margin-left: -2px;
        margin-right: -2px;
        border: 2px solid black;
        border-radius: 0;
        
        svg
        {
            height: 25px;
        }
    }

    input
    {
        width: 80px;
        text-align: center;
        border: 2px solid black;
        border-radius: 0;
        height: 45px;
    }
}

// Finance Table
table 
{
    width: 100%;
    margin: 0 auto;
    border: 1px solid lightgrey;
    margin-top: 25px;
    margin-bottom: 25px;

    tr td
    {
        padding: 7px !important;
        font-weight: 600;

        &:nth-child(2)
        {
            text-align: right;
        }
    }
}